MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=jobtracker
MYSQL_USER=jobuser
MYSQL_PASSWORD=changeme

DB_HOST=db
DB_PORT=3306
DB_NAME=jobtracker
DB_USER=jobuser
DB_PASSWORD=changeme

NEXT_PUBLIC_API_URL=http://localhost:5000
